.header{
  background-color: #f44336;
  text-align: center;
  padding: 30px 40px;
  color: white;
}


input{
  border: none;
  border-radius: 0;
  width: 75%;
  margin: 0;
  padding: 10px;
  font-size: 16px;
  float: left;
}

#addBtn{
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 16px;
  float: left;
  transition: 0.3s;
  border-radius: 0;
  cursor: pointer;
}

body{
  margin: 0;
  min-width: 250px;
}

*{
  box-sizing: border-box;
}

ul{
  margin: 0;
  padding: 0;
}

ul li{
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}

ul li:hover{
  background: #ddd;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

li button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

li button:hover {
  background-color: #f44336;
  color: white;
}
